# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env

# Build output
client/dist/
#server/dist/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo


#Docs
docs/*
AGENTS.md

reports/*
CBC_Test_Report.pdf

